.table {
  width: 100%;
  justify-content: center;
  margin: 0 auto;
  margin-top: 10px;
}

.form-inline{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.space{
  width: 70%;
  margin: 0 auto;
}

