<nav class="navbar navbar-expand-lg navbar-light bg-white shadow-sm" *ngIf="showMenu();">
  <div class="container">
    <a class="navbar-brand" routerLink="dashboard ">
      <i class="fa fa-users mb-2"></i>
    </a>
    <button class="navbar-toggler" (click)="isCollapsed = !isCollapsed" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" [collapse]="isCollapsed" [isAnimated]="true" id="navbarNav">
      <ul class="navbar-nav">
        <!-- marcar como ativo  -->
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link active" aria-current="page" routerLink="eventos/lista">Eventos</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="palestrantes">Palestrantes</a>
        </li>
        <li class="nav-item" routerLinkActive="active">
          <a class="nav-link" routerLink="contatos">Contatos</a>
        </li>
      </ul>
    </div>
    <div class="btn-group" dropdown>
      <button id="button-animated" dropdownToggle type="button" style="cursor:pointer" class="btn btn-primary dropdown-toggle"
              aria-controls="dropdown-animated">
        Isabella <span class="caret"></span>
      </button>
      <ul id="dropdown-animated" *dropdownMenu class="dropdown-menu"
          role="menu" aria-labelledby="button-animated">
        <li role="menuitem"><a class="dropdown-item" routerLink="user/perfil">Perfil</a></li>
        <li role="menuitem"><a class="dropdown-item" routerLink="user/login">Sair</a></li>
      </ul>
    </div>
  </div>
</nav>
